#sidebar {
    height: 100%;
    min-height: 100vh;
    min-width: 180px;
}

.busqueda {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 5px;
    text-decoration: none;
    color: black;

    transition: all 0.5s;

    border-radius: 5px!important;
	border: 0;
	box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

.busqueda:hover{
    transform: translateY(-0.2rem);
}

.btn {
	border: 0;
	box-shadow: rgb(0 0 0 / 40%) 0px 2px 4px, rgb(0 0 0 / 30%) 0px 7px 13px -3px, rgb(0 0 0 / 20%) 0px -3px 0px inset;
}

.deleteBtn {
    border-radius: 0 5px 5px 0 !important;
}

.reload {
    
}